<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">

    <title>Assignments Page</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <header>
      <!-- Navbar with 4 items including brand-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MSIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="referees.html">Referees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assignment.html">Assignments</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container" id="assignmentApp">

      <div class="row align-items-start">
        <div class="col col-4">
          <div v-for="g in games" v-on:click="selectGame(s)"
           :class="['game', {selected: selectedGame && g.gameid == selectedGame.gameid}]">
            <span class="location">{{ g.location }}</span><br>
            <span class="time">{{ prettyData(g.date_time) }}</span>
          </div>
        </div>

        <div class="col col-8" v-if="selectedGame">
          <h1>Offers for {{ selectedGame.location }}</h1>
          <table class="table" id="sortableTableTwo">
            <thead>
              <tr>
                <th scope="col">Referee</th>
                <th scope="col">Position</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="assignment in assignments">
                <td>{{ getRefereeName(assignment.refereeid) }}</td>
                <td>{{ assignment.position }}</td>
                <td>{{ assignment.refstatus }}</td>
                <td>
                  <button type="button" v-on:click="handleEditAssignment(a)" class="btn btn-outline-secondary btn-sm">Edit</button>
                  <button type="button" v-on:click="postDeleteAssignment(a)" class="btn btn-outline-secondary btn-sm">Delete</button>

                </td>
            </tr>
            </tbody>
          </table>
  
          <h3>{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</h3>
          <form v-on:submit.prevent="postAssignment">
            <div class="form-group col-md-8">
              <label for="inputReferee">Referee</label>
              <select v-model="assignmentForm.refereeid">
                <option v-for="ref in referees" v-bind:value="ref.refereeid">
                  {{ref.refname}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-8">
              <label for="inputStatus">Position</label>
              <input type="date" v-model="assignment.position" class="form-control" placeholder="Position">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
          </form>
          <div class="noOffers" v-if="! assignments.length">
            <h3>No assignments. 😥</h3>
          </div>
        </div>
        
      </div>
    </div>

    <script src="js/tablesort.min.js"></script>
    <script src="js/assignment.js"></script>
    <!-- Tablesort from plugin https://github.com/tristen/tablesort -->
    <script>
      new Tablesort(document.getElementById('sortableTableTwo'));
    </script>
  </body>
</html>